<link href="https://fonts.googleapis.com/css?family=KoHo" rel="stylesheet">
<mat-tab-group>
  <mat-tab label="Account"> 

    <div style="text-align: center;" class="center">
      <h3>Add a Hotel</h3>

      <!-- Hotel Option -->
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="New Hotel" >
        </mat-form-field>
      </form>
      <!--Collapse Hotel Option -->

      <!-- Menu Option -->
            <form style="margin-top: 7%;" class="example-form">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Menu">
              </mat-form-field>
            </form>
      <!--Collapse Menu Option -->

        <!-- Add Waiter Button -->
        <div style="margin-top: 3%;" class="example-button-row">
          <button mat-raised-button color="primary">Add Waiter</button>
        </div>

    </div>


  </mat-tab>
  <mat-tab label="Waiter"> 
    <!-- MAT-TAB-CONTENT  -->
  
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>PROGRESS</mat-card-title>
      <mat-card-subtitle>This is Progress of waiters</mat-card-subtitle>
    </mat-card-header>
    <!-- This Is A Table Of Waiters Progress -->

      
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="table-responsive">
              <table summary="This table shows how to create responsive tables using Bootstrap's default functionality" class="table table-bordered table-hover">
                
                <thead>
                  <tr>

                    <th>Waiter</th>
                    <th>Clients Served</th>
                    <th>Total Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>

                    <td>Wesley Mbate</td>
                    <td>41</td>
                    <td>5,387</td>
                  </tr>
                  <tr>

                    <td>Collins Kariuki</td>
                    <td>23</td>
                    <td>2,983</td>
                  </tr>
                  <tr>

                    <td>Ephantus Mwangi</td>
                    <td>11</td>
                    <td>1,956</td>
                  </tr>
                  <tr>

                    <td>Fatah </td>
                    <td>53</td>
                    <td>2,586</td>
                  </tr>
                  <tr>

                  <h2 style="font-family: 'KoHo', sans-serif;margin-top: 10%; padding-bottom: 10%;">Add A Waiter</h2>
                  
                  <!-- Waiter Adding Section -->
                  <p>
                    <mat-form-field appearance="standard">
                      <mat-label>Waiter Name.</mat-label>
                      <input matInput placeholder="Add a Waiter">
                      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                      <mat-hint>Hint: name</mat-hint>
                    </mat-form-field>
                  </p>

                  <!-- Unique Key Section -->
                  <p>
                    <mat-form-field appearance="standard">
                      <mat-label>Unique Key.</mat-label>
                      <input matInput placeholder="Add a Unique Key">
                      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                      <mat-hint>Hint: key</mat-hint>
                    </mat-form-field>
                  </p>

                    <!-- Add Waiter Button -->
                  <div class="example-button-row">
                    <button mat-raised-button color="accent">Add Waiter</button>
                  </div>

                </tbody>
                <tfoot>

                </tfoot>
              </table>
            </div>
            <!--end of .table-responsive-->
          </div>
        </div>
      </div>
      


    <!--Collapse This Is A Table Of Waiters Progress -->
  </mat-card>
  <!-- COLLAPSE MAT-TAB-CONTENT  -->
  </mat-tab>
  <mat-tab label="Menu"> 
    
    <div style="text-align: center;" class="center">
      <h3>Add Menu</h3>
      <!-- Waiter Adding Section -->

      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Category" value="">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Meal" value="">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Description"></textarea>
        </mat-form-field>
      </form>

      <div class="example-button-row">
        <button mat-raised-button color="accent">Add Menu.</button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>