<div class="container">
  <div class="Card AboutSection">
    This App comes to revolutionise the Hotel Field!.

  </div>

  <!-- TEAM CARD -->
  <div class="Card Team">
    <h3>MEET THE TEAM!</h3>
    <div class="row">
      <div class="col-md-4">
        <img src="/assets/images/person.png" alt="Magz">
        <ul>
          <li><a href="https://github.com/Magz8984"  matTooltip="Visit on Github"
             [matTooltipPosition]="position"
            >Collins Magondu</a></li>
          <li>Team Head</li>
          <li>Back-End Dev</li>
          <li class="quote">"Wazi Dwazzi"</li>
        </ul>
      </div>

      <div class="col-md-4">
        <img src="/assets/images/person.png" alt="ZeCollo">
        <ul>
          <li><a href="https://github.com/zecollokaris"
            matTooltip="Visit on Github"
               [matTooltipPosition]="position"

            >Collins Kariuki</a></li>
          <li>Front-End Dev</li>
          <li class="quote">"You Jamaazz"</li>
        </ul>

      </div>

      <div class="col-md-4">
        <img src="/assets/images/person.png" alt="Wess">
        <ul>
          <li><a href="https://github.com/Wess58"
            matTooltip="Visit on Github"
               [matTooltipPosition]="position"
            >Wesley Mbate</a></li>
          <li>Content Dev</li>
          <li class="quote">"Sasa Anjezzz"</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- CONTACT US FORM -->
  <div class="container">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Quick Contact
          </mat-panel-title>
          <mat-panel-description>
            Contact us today, and get feedback within 24 hours!
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">

          <form>
            <mat-form-field appearance="legacy">
              <mat-label>Name</mat-label>
              <input matInput required>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
              <br>
            <mat-form-field>
              <textarea matInput placeholder="Textarea"></textarea>
            </mat-form-field>
          </form>

        </div>


      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
