<div class="container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ul>
            <li *ngFor="let table of tables" [value]="table">
              {{table}}
            </li>
          </ul>
        </mat-panel-title>
        <!-- <mat-panel-description>
        Type your name and age
      </mat-panel-description> -->
      </mat-expansion-panel-header>
      <ul>
        <li *ngFor="let order of orders" [value]="order">{{order}}</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
