<div class="container">
  <!-- <mat-checkbox class="example-margin">Checked</mat-checkbox> -->
  <div class="card cardMenu">

    <!-- <div class="example-button-row">
      <button mat-button [matMenuTriggerFor]="menu" mat-raised-button   matTooltip="Choose Category" color="accent" *ngFor="let category of categories" [value]="category" >Menu Meal Choice</button>
    </div> -->

    <!-- <mat-menu #menu="matMenu"> -->
    <!-- <button mat-menu-item>Drinks</button>
  <button mat-menu-item *ngFor="let food of foods" >Foods</button>
  <button mat-menu-item>Desert</button> -->
    <div class="container">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              FOODS
            </mat-panel-title>
            <mat-panel-description>
              Pick Food(s)
            </mat-panel-description>
          </mat-expansion-panel-header>


          <form>

            <mat-checkbox class="example-margin">
              Chips - - - - - -  Ksh200
            </mat-checkbox>

            <br>
            <mat-checkbox class="example-margin">
              Chicken - - - - - -  Ksh600
            </mat-checkbox>

            <br>
            <mat-checkbox class="example-margin">
              Masala - - - - - -  Ksh250
            </mat-checkbox>

          </form>



        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <br>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              DRINKS
            </mat-panel-title>
            <mat-panel-description>
              Pick Drink(s)
            </mat-panel-description>
          </mat-expansion-panel-header>
          <form>
            <mat-checkbox class="example-margin">
              Mango Juice- - - - - -  Ksh150
            </mat-checkbox>
            <br>
            <mat-checkbox class="example-margin">
              Passion Juice- - - - - -  Ksh150
            </mat-checkbox>
            <br>
            <mat-checkbox class="example-margin">
              Orange Juice- - - - - -  Ksh150
            </mat-checkbox>
            <br>
            <mat-checkbox class="example-margin">
              Soda- - - - - -  Ksh100
            </mat-checkbox>

          </form>


        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <br>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              DESERT
            </mat-panel-title>
            <mat-panel-description>
              Pick Desert(s)
            </mat-panel-description>
          </mat-expansion-panel-header>
          <form>
            <mat-checkbox class="example-margin">
              Chocolate IceCream- - - - - -  Ksh200
            </mat-checkbox>
            <br>
            <mat-checkbox class="example-margin">
              Chocolate Cake- - - - - -  Ksh400
            </mat-checkbox>
            <br>
            <mat-checkbox class="example-margin">
              Vanilla IceCream- - - - - -  Ksh200
            </mat-checkbox>
            <br>
            <mat-checkbox class="example-margin">
              Strawberry IceCream- - - - - -  Ksh200
            </mat-checkbox>


          </form>


        </mat-expansion-panel>
      </mat-accordion>

      <div class="example-button-row">
        <a routerLink="/entry" routerLinkActive="active">  <button mat-raised-button color="accent" >ORDER</button></a>
      </div>

    </div>


    <!-- EXPANSION PANEL START & END -->
    <!-- <mat-expansion-panel>
 <mat-expansion-panel-header>
 </mat-expansion-panel-header>
 </mat-expansion-panel> -->


    <!--
<div class="container">
  <form class="form-group">
    <div class="row">
      <input type="text" class="form-control" placeholder="Enter username" id="user"   name="username" >
      <button   class="btn btn-primary" >Search</button>
    </div>
  </form>
</div> -->
