<div class="container">
  <!-- <mat-checkbox class="example-margin">Checked</mat-checkbox> -->
  <div class="card cardMenu">

      <!-- <button mat-button [matMenuTriggerFor]="menu" mat-raised-button   matTooltip="Choose Category" color="accent" *ngFor="let category of categories" [value]="category" >Menu Meal Choice</button>
    </div>  -->

    <!-- <mat-menu #menu="matMenu"> -->
    <!-- <button mat-menu-item>Drinks</button>
  <button mat-menu-item *ngFor="let food of foods" >Foods</button>
  <button mat-menu-item>Desert</button> -->
    <div class="container">
      <form (ngSubmit)="submitMenu()">
        <mat-form-field>
          <mat-select placeholder="Categorys" name="name" [(ngModel)]="category.name" #name="ngModel" (selectionChange)="getFoods()" required>
            <mat-option *ngFor="let category of categorys" [value]="category">
                {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <br>
            <div class="example-button-row">
        <a routerLink="/entry" routerLinkActive="active">  <button type="submit" mat-raised-button color="accent" >ORDER</button></a>
      </div>

      <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title *ngFor="let category of categorys" [value]="category">
        {{category.name}}
      </mat-panel-title>
      <mat-panel-description>
        {{category.name}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="First name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Age">
    </mat-form-field>
  </mat-expansion-panel> -->
      </form>


    <!-- EXPANSION PANEL START & END -->
    <!-- <mat-expansion-panel>
 <mat-expansion-panel-header>
 </mat-expansion-panel-header>
 </mat-expansion-panel> -->


    <!--
<div class="container">
  <form class="form-group">
    <div class="row">
      <input type="text" class="form-control" placeholder="Enter username" id="user"   name="username" >
      <button   class="btn btn-primary" >Search</button>
    </div>
  </form>
</div> -->
