.cardEntry{
  padding: 20px;
  width: 300px;
  height: 500px;
  box-shadow: 0 5px 10px 5px lightgrey;
}
.container {
  margin-top: 2em;
}

mat-form-field {
  margin-top: 2em;
}
.example-button-row{
  margin-bottom: 2em;
}

.logo {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  box-shadow: 5px 5px 20px 5px lightgrey;
  transition: all .4s
}
.logo:hover{
    transition: all .4s;
    margin-top: 6px;
    box-shadow: 0 0 0 0;
}
h3{
  text-align: center;
    color: rgba( 216, 8, 113);
}
.homebody{
  margin-left: 20%;
}