<!-- <div class="container">
  <form class="form-group">
    <div class="row">
      <input type="text" class="form-control" placeholder="Enter Material" id="user"   name="username" >
      <button   class="btn btn-primary" >Search</button>
    </div>
  </form>
</div> -->

 <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="card cardEntry">
        <h3>CUSTOMER ORDER</h3>
        <hr>
        <div class="example-container">
          <mat-form-field>
            <mat-select placeholder="Hotel">
              <mat-option *ngFor="let hotel of hotels" [value]="hotel">
                {{hotel}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="example-button-row">
              <a routerLink="/menu" routerLinkActive="active"><button mat-raised-button color="accent">MENU</button></a>
          </div>
          <mat-form-field class="example-full-width">
            <input type="number" matInput placeholder="PayMent">
   </mat-form-field>
            <div class="example-button-row">
              <button mat-raised-button color="accent" >ORDER</button>
            </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <img class="logo" src="../assets/images/Slogo.jpg" alt="LOGO">
    </div>


  </div>

</div>
