<div class="container">
  <div class="card cardWaiter">
    <form>
      <mat-form-field appearance="legacy">
        <mat-label>Username</mat-label>
        <input matInput >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Sign in with Username</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hide ? 'text' : 'password'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>

    </form>
    <a routerLink="/orders" routerLinkActive="active">Order</a>

  </div>
</div>
