@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  font-family: 'Oswald', sans-serif;
}
.logo{
  width: 52px;
  height: 50px;
  border-radius: 50%;
}
.container{
  margin-top: 20px;
}
nav{
  background-color: rgba( 216, 8, 113,0.8);
  font-family: 'Pacifico', cursive;
}



/* font-family: 'Pacifico', cursive; italics */
